/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

ul, menu {
    list-style: none;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #fcfff6;
}

a {
    color: #000;
    text-decoration: none;
    transition: all ease-out 0.3s;
}

input {
    font-family: 'Arial', sans-serif;
    padding: 2px 4px;
    border-radius: 3px;
    border: 1px solid #c5ccb9;
}

.block {
    border: 2px solid #d4d4d4;
    border-radius: 4px;
    background: #fff;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}

.block img {
    float: left;
    margin-right: 10px;
}

.description {
    clear: both;
    padding-top: 10px;
}

.createdAt {
    padding-top: 10px;
    float: left;
}

.tags {
    text-align: right;
    padding-top: 10px;
}

.tags-container {
    padding: 20px;
}

.tags-container span,
.tags span {
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    left: 5px;
    right: 5px;
    padding: 4px;
}

.tags-container span {
    cursor: pointer;
    background: rgba(0,0,0,0.1);
}


.tags span + span {
    margin-left: 10px;
}


.block div:after {
    content: "";
    vertical-align: middle;
    width:0;
    height: 100%;
    display: inline-block;
}


.search {
    padding: 20px;
}
