@media screen and (max-width:400px) {
    body .display-one {
        padding-top: 66px;
    }

    header {
        padding: 10px;
    }

    .aside-menu li span {
        display: none;
    }

    .logo img {
        height: 30px;
    }

    .hamburger-icon {
        transform: scale(0.5, 0.5);
        left: 10px;
    }

}

@media screen and (max-width:768px) {
    .display-one {
        padding-top: 82px;
    }

    .hamburger-icon {
        display: block;
    }

    .header-container {
        justify-content: space-between;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    nav {
        position: absolute;
        background: #fff;
        padding: 0;
        border: 1px solid #000;
        top: 100%;
        width: 100%;
        left: -1px;
        text-align: center;
        width: calc(100% + 2px);
        visibility: hidden;
        opacity: 0;
    }

    menu li {
        margin: 0;
        display: block;
        padding: 0;
    }

    menu li a{
        padding: 10px;
        display: block;
        background: rgb(185, 255, 242);
        border-bottom: 1px solid grey;
        border-radius: 0;
    }

    .search-wrapper {
        display: inline-block;
        margin: 10px 0;
        width: 80%;
    }

    .search {
        width: 100%;
        padding: 8px 5px;
    }

    .search:focus {
        width: 100%;
    }

    .fa-search {
        right: 8px;
        top: 8px;
        font-size: 20px;
    }

}

@media screen and (max-width:1200px) {
    header {
        padding: 10px;
    }
}
